<nav class="fixed-top navbar navbar-default customer-nav">
  <div class="container-fluid">
    <p class="black_letters">Artist Search</p>
  </div>
</nav>

<div class="blankplacer"> 
</div>


<form class="postion-fixed" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
  <div class="container ">
    <div class="input-group row" >
        <input name="inputbox" type="text" class="form-control rounded grey_color"  placeholder="Please enter an artist name." aria-label="Search" aria-describedby="search-addon" [(ngModel)]="checkField" oninput="typeIn()"  ngModel/>
    </div>

    <div class="blankplacer3"> 
    </div>

    <div class="row d-flex justify-content-center ">
      <div class=" col-xs-2" style="margin:0px;" > 
        <button type="submit" class=" btn search_btn btn-primary cusbtn_color larger d-flex"   [disabled]="checkField === ''">Search<div class="spinner-border make_it_small" role="status" [style]= "display_load">
          <span class="sr-only ">Loading...</span>
        </div></button>
      </div>
      <div class="col-xs-2">
        <button type="reset" (click)="reset_all()" class="offset-1 btn btn-secondary col-sm-0.8">Clear</button>
      </div>
    </div>
  </div>
</form>

<div class="blankplacer2"> 
</div>

<div class="alert alert-danger" role="alert" [style]= "display_noresult">
  No result.
</div>

<div class="container-fluid" [style]= "container_sty">
  <div class="row flex-row flex-nowrap customer-overflow" style="height: 340px;" >

    <div class="col-md-3" [style]= "display_sm_box0">
      <div class="card " (click)="loadArtistInfo('0')">
        <img id="path0" [src]="info_path.path0" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody0">
          <p class="card-title" id="name0" [innerHTML]="htmlStr0"></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box1">
      <div class="card" (click)="loadArtistInfo('1')">
        <img id="path1" [src]="info_path.path1" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody1">
          <p class="card-title" id="name1" [innerHTML]="htmlStr1"></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box2">
      <div class="card" (click)="loadArtistInfo('2')">
        <img id="path2" [src]="info_path.path2" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody2">
          <p class="card-title" id="name2" [innerHTML]="htmlStr2"></p>
         
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box3">
      <div class="card" (click)="loadArtistInfo('3')">
        <img id="path3" [src]="info_path.path3" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody3">
          <p class="card-title" id="name3" [innerHTML]="htmlStr3"></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-3"[style]= "display_sm_box4">
      <div class="card" (click)="loadArtistInfo('4')">
        <img id="path4" [src]="info_path.path4" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody4">
          <p class="card-title" id="name4" [innerHTML]="htmlStr4"></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box5">
      <div class="card" (click)="loadArtistInfo('5')">
        <img id="path5" [src]="info_path.path5" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody5" >
          <p class="card-title" id="name5" [innerHTML]="htmlStr5"></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box6">
      <div class="card" (click)="loadArtistInfo('6')">
        <img id="path6" [src]="info_path.path6" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody6">
          <p class="card-title" id="name6" [innerHTML]="htmlStr6"></p>
         
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box7">
      <div class="card" (click)="loadArtistInfo('7')">
        <img id="path7" [src]="info_path.path7" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody7">
          <p class="card-title" id="name7" [innerHTML]="htmlStr7"></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box8">
      <div class="card" (click)="loadArtistInfo('8')">
        <img id="path8" [src]="info_path.path8" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody8">
          <p class="card-title" id="name8" [innerHTML]="htmlStr8"></p>
          
        </div>
      </div>
    </div>
    <div class="col-md-3" [style]= "display_sm_box9">
      <div class="card" (click)="loadArtistInfo('9')">
        <img id="path9" [src]="info_path.path9" class="card-img-top" alt="...">
        <div class="card-body clicked card-body1" [style]="cardbody9">
          <p class="card-title" id="name9" [innerHTML]="htmlStr9"></p>
         
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blankplacer2"> 
</div>

<div class="d-flex align-items-center justify-content-center">
  <div class="spinner-border" role="status" [style]= "display_load2">
    <span class="sr-only ">Loading...</span>
  </div>

</div>

<div class ="container-fluid" style=" width: 79%;">
<ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation" [style]= "display_nav">
    <a [class]="navbar1" id="pills-home-tab"  data-bs-toggle="pill" (click)="switchToArtInfo()" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Artist Info</a>
  </li>
  <li class="nav-item" role="presentation" [style]= "display_nav">
    <a [class]="navbar2" id="pills-profile-tab" data-bs-toggle="pill" (click)="switchToArtwork()" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">Artworks</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div [class]="artistInfo1" [style]= "artHTML1_style" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" [innerHTML]="artinfoHTML1"></div>
  <div [class]="artistInfo2" [style]= "artHTML2_style" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" [innerHTML]="artinfoHTML2"></div>
  <div [class]="artistInfo3" [style]= "artHTML3_style" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" [innerHTML]="artinfoHTML3"></div>

 <div class="d-flex justify-content-center">
  <div [class]="display_noresult2_class" role="alert" [style]= "display_noresult2">
    No result.
  </div>
 </div>

  
  <div [class]="artworkInfo">
    <div class="row d-flex justify-content-center" >
    
    <div class="col-sm-3" [style]="display_artwork0">
    <div class="card spacer " >
      <img class="card-img-top center" [src]="info_path.artwork0" alt="Card image cap">
      
      
      <div class="card-body d-flex justify-content-center " >  
          <p class="card-title" ></p>
          <p class="card-text text-color" [innerHTML]="artworktext0"></p>
      </div>
      <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('0')" data-target="#exampleModalScrollable" style="width: 90%;">
        Categories
      </button>
    </div>
    </div>
    </div>

    <div class="col-sm-3"[style]="display_artwork1">
    <div class="card spacer" >
      <img class="card-img-top center" [src]="info_path.artwork1" alt="Card image cap">
      <div class="card-body d-flex justify-content-center" >
        <p class="card-title text-color" [innerHTML]="artworktext1"></p>
        <p class="card-text"></p>
      </div>
      <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('1')" data-target="#exampleModalScrollable" style="width: 90%;">
        Categories
      </button>
    </div>
    </div>
    </div>

    <div class="col-sm-3" [style]="display_artwork2">
    <div class="card spacer" >
      <img class="card-img-top center" [src]="info_path.artwork2" alt="Card image cap">
      <div class="card-body d-flex justify-content-center">
        <p class="card-title text-color" [innerHTML]="artworktext2"></p>
        <p class="card-text"></p>
      </div>
      <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('2')" data-target="#exampleModalScrollable" style="width: 90%;">
        Categories
      </button>
    </div>
    </div>
    </div>

    <div class="col-sm-3" [style]="display_artwork3">
      <div class="card spacer" >
        <img class="card-img-top center" [src]="info_path.artwork3" alt="Card image cap">
        <div class="card-body d-flex justify-content-center">
          <p class="card-title text-color" [innerHTML]="artworktext2"></p>
          <p class="card-text"></p>
        </div>
        <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('3')" data-target="#exampleModalScrollable" style="width: 90%;">
          Categories
        </button>
      </div>
      </div>
      </div>

      <div class="col-sm-3" [style]="display_artwork4">
        <div class="card spacer" >
          <img class="card-img-top center" [src]="info_path.artwork4" alt="Card image cap">
          <div class="card-body d-flex justify-content-center">
            <p class="card-title text-color" [innerHTML]="artworktext4"></p>
            <p class="card-text"></p>
          </div>
          <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('4')" data-target="#exampleModalScrollable" style="width: 90%;">
            Categories
          </button>
        </div>
        </div>
        </div>

        <div class="col-sm-3" [style]="display_artwork5">
          <div class="card spacer" >
            <img class="card-img-top center" [src]="info_path.artwork5" alt="Card image cap">
            <div class="card-body d-flex justify-content-center">
              <p class="card-title text-color" [innerHTML]="artworktext5"></p>
              <p class="card-text"></p>
            </div>
            <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('5')" data-target="#exampleModalScrollable" style="width: 90%;">
              Categories
            </button>
          </div>
          </div>
          </div>

          <div class="col-sm-3" [style]="display_artwork6">
            <div class="card spacer" >
              <img class="card-img-top center" [src]="info_path.artwork6" alt="Card image cap">
              <div class="card-body d-flex justify-content-center">
                <p class="card-title text-color" [innerHTML]="artworktext6"></p>
                <p class="card-text"></p>
              </div>
              <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('6')" data-target="#exampleModalScrollable" style="width: 90%;">
                Categories
              </button>
            </div>
            </div>
            </div>

            <div class="col-sm-3" [style]="display_artwork7">
              <div class="card spacer" >
                <img class="card-img-top center" [src]="info_path.artwork7" alt="Card image cap">
                <div class="card-body d-flex justify-content-center">
                  <p class="card-title text-color" [innerHTML]="artworktext7"></p>
                  <p class="card-text"></p>
                </div>
                <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('7')" data-target="#exampleModalScrollable" style="width: 90%;">
                  Categories
                </button>
              </div>
              </div>
              </div>

              <div class="col-sm-3" [style]="display_artwork8">
                <div class="card spacer" >
                  <img class="card-img-top center" [src]="info_path.artwork8" alt="Card image cap">
                  <div class="card-body d-flex justify-content-center">
                    <p class="card-title text-color" [innerHTML]="artworktext8"></p>
                    <p class="card-text"></p>
                  </div>
                  <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('8')" data-target="#exampleModalScrollable" style="width: 90%;">
                    Categories
                  </button>
                </div>
                </div>
                </div>

                <div class="col-sm-3" [style]="display_artwork9">
                  <div class="card spacer" >
                    <img class="card-img-top center" [src]="info_path.artwork9" alt="Card image cap">
                    <div class="card-body d-flex justify-content-center">
                      <p class="card-title text-color" [innerHTML]="artworktext9"></p>
                      <p class="card-text"></p>
                    </div>
                    <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" (click)="genes('9')" data-target="#exampleModalScrollable" style="width: 90%;">
                      Categories
                    </button>
                  </div>
                  </div>
                  
                </div>
              </div>
            </div>

          </div>
        </div>

<div class="blankplacer4"> 
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="imgsize" [src]="modalimg">
        <p class="modal-title text-color" id="exampleModalScrollableTitle" [innerHTML] ="modaltitle"></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div [class]="display_noresult3_class" role="alert" [style]= "display_noresult3">
        No Categories.
      </div>

      <div class="modal-body row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status" [style]= "display_load3">
            <span class="sr-only ">Loading...</span>
          </div>
       </div>
        
       <div class="modalcus" >
        <div class="card" [style]="modalbox0">
          <img [src]="modalimg0" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-color" [innerHTML]="modaltext0"></p>
          </div>
        </div>
      </div>

      <div class="modalcus">
        <div class="card" [style]="modalbox1">
          <img [src]="modalimg1" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-color" [innerHTML]="modaltext1"></p>
          </div>
        </div>
      </div>

      <div class="modalcus">
        <div class="card" [style]="modalbox2">
          <img [src]="modalimg2" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-color" [innerHTML]="modaltext2"></p>
          </div>
        </div>
      </div>

      <div class="modalcus">
        <div class="card" [style]="modalbox3">
          <img [src]="modalimg3" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-color" [innerHTML]="modaltext3"></p>
          </div>
        </div>
      </div>

      <div class="modalcus">
        <div class="card" [style]="modalbox4">
          <img [src]="modalimg4" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-color" [innerHTML]="modaltext4"></p>
          </div>
        </div>
      </div>

      

        
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<footer class="page-footer fixed-bottom"> 
  <div class="row dark_blue d-flex justify-content-center"> 
    <div class="">
      <p class="white_letters" >Powered by</p>
    </div>
    <div class="">
      <a href="https://www.artsy.net/"><img src="./assets/img/artsy_logo.svg"  class="img-fluid" alt="Responsive image"></a>
    </div>
    <div class="">
      <a href="https://www.artsy.net/"><p class="white_letters text-center"> Artsy.</p></a>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
